@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body {
  font-family: 'Source Sans Pro', sans-serif;

  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

#loadHTML ul,
#loadHTML ul li {
  list-style: inherit;
}

#loadHTML ul {
  padding-left: 40px;
}

#loadHTML ol,
#loadHTML ol li {
  list-style-type: decimal;
}

#loadHTML ol {
  /* Default user agent stylesheet. */
  padding-left: 40px;
}

.ck.ck-content strong {
  font-weight: bold;
}

/* We need to overwrite default Materialize list appearance. 
 * See: https://github.com/ckeditor/ckeditor5/issues/1672. 
 */
.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ul {
  /* Default user agent stylesheet. */
  padding-left: 40px;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
}

.ck.ck-content ol {
  /* Default user agent stylesheet. */
  padding-left: 40px;
}

/* We need to overwrite default Materialize input appearance. 
  * See: https://github.com/Dogfalo/materialize/blob/v1-dev/sass/components/forms/_input-fields.scss#L10-L40 
  */
.ck input.ck-input.ck-input-text {
  box-shadow: var(--ck-inner-shadow), 0 0;
  background: var(--ck-color-input-background);
  border: 1px solid var(--ck-color-input-border);
  padding: var(--ck-spacing-extra-tiny) var(--ck-spacing-medium);
  transition-property: box-shadow, border;
  transition: 0.2s ease-in-out;

  height: inherit;
  width: inherit;
  font-size: inherit;
  margin: 0;
  box-sizing: border-box;
}

.ck input.ck-input.ck-input-text:focus {
  border: var(--ck-focus-ring);
  box-shadow: var(--ck-focus-outer-shadow), var(--ck-inner-shadow);
}

.uppy-FileInput-container .uppy-FileInput-btn {
  border: 1px solid aliceblue;
  background-color: aliceblue;
  color: black;
}

.uppy-FileInput-container .uppy-FileInput-btn:hover {
  background-color: lightcoral;
}

.tippy-box[data-theme~='dark'] {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  /* background-color: rgb(107 114 128 / var(--tw-bg-opacity)); */

  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  color: rgb(243 244 246 / var(--tw-text-opacity));
  border-width: 1px;
}

.tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgb(107 114 128);
}
.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgb(107 114 128);
}
.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgb(107 114 128);
}
.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgb(107 114 128);
}
